<form novalidate="novalidate" name="form" class="login-form">
  <div class="modal-header">
    <h4>Sign in</h4>
    <div class="modal-body">
      <div ng-show="authReason" class="alert alert-warning">{{authReason}}</div>
      <div ng-show="authError" class="alert alert-error">{{authError}}</div>
      <div class="alert alert-info">Please enter your login details</div>
      <div ng-class="{'has-error': form.email.$error.email}" class="form-group">
        <label>E-mail</label>
        <input name="email" type="email" ng-model="user.email" required="required" autofocus="autofocus" class="form-control"><span ng-show="form.email.$error.email" class="help-inline">This is an invalid email.</span>
      </div>
      <div ng-class="{'has-error': form.email.$error.email}" class="form-group">
        <label>Password</label>
        <input type="password" ng-model="user.password" required="required" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="login()" ng-disabled="form.$invalid" class="btn btn-primary login">Sign in</button>
      <button ng-click="clear()" class="btn clear">Clear</button>
      <button ng-click="cancel()" class="btn btn-warning cancel">Cancel</button>
    </div>
  </div>
</form>