<form novalidate="novalidate" name="form" class="signup-form">
  <div class="modal-header">
    <h4>Sign up</h4>
    <div class="modal-body">
      <div ng-show="authReason" class="alert alert-warning">{{authReason}}</div>
      <div ng-show="authError" class="alert alert-error">{{authError}}</div>
      <div class="alert alert-info">Please enter your details</div>
      <div ng-class="getClass(form.username)" class="form-group">
        <label for="username" class="control-label">Username</label>
        <input name="username" type="text" ng-model="user.username" ensure-unique="ensure-unique" required="required" autofocus="autofocus" class="form-control"><span ng-show="showError(form.username,'unique')" class="help-block">This username is taken.</span>
      </div>
      <div ng-class="getClass(form.email)" class="form-group">
        <label for="email" class="control-label">E-mail</label>
        <input name="email" type="email" ng-model="user.email" required="required" ensure-unique="ensure-unique" class="form-control"><span ng-show="showError(form.email,'unique')" class="help-block">This email is taken.</span>
      </div>
      <div ng-class="getClass(form.password)" class="form-group">
        <label for="password" class="control-label">Password</label>
        <input name="password" type="password" ng-model="user.password" required="required" equals="user.passwordConfirmation" class="form-control"><span ng-show="showError(form.password,'equals')" class="help-block">The passwords do not match.</span>
      </div>
      <div ng-class="getClass(form.passwordConfirmation)" class="form-group">
        <label for="passwordConfirmation" class="control-label">Confirm Password</label>
        <input name="passwordConfirmation" type="password" ng-model="user.passwordConfirmation" required="required" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="signup()" ng-disabled="form.$invalid" class="btn btn-primary login">Sign up</button>
      <button ng-click="clear()" class="btn clear">Clear</button>
      <button ng-click="cancel()" class="btn btn-warning cancel">Cancel</button>
    </div>
  </div>
</form>