.col-xs-3
  h5 
    | Updated
  dl.dl-horizontal
    dt User
    dd
      | {{revision.modifier.username}}
    dt Updated at
    dd
      | {{revision.updatedAt|date:'MMM d, y h:mm:ss a'}}
.col-xs-9
  pre
    | {{revision.modified|json}}

